{{#each items}}
  <li class="{{@root.classPrefix}}-user">
    <div class="{{@root.classPrefix}}-user-label">{{label}}</div>
    <i data-role="del" data-uid="{{value}}" class="{{@root.classPrefix}}-del iconfont iconfont-del"></i>
  </li>
{{/each}}
