<div class="{{classPrefix}}">
  <div class="{{classPrefix}}-content" data-role="content">
    <div class="{{classPrefix}}-search">
      <div class="{{classPrefix}}-label">
        请选择用户：
      </div>
      <input type="input" data-role="user-id" placeholder="ID、用户名、昵称等"></input>
    </div>
    <div class="{{classPrefix}}-selected">
      <div class="{{classPrefix}}-label">
        已选用户：
      </div>
      <ul data-role="users" data-partial="users" class="{{classPrefix}}-users">
      </ul>
    </div>

  </div>
</div>
